  
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
     About page. <br />
    </div>
    <div style="align-content: flex-end;">
      <img
        src="{% static 'images/parrot.jpg' %}"
        alt="Picture of Rango"
        width="300px"
        height="300px" 
      />
      <img
        src="{{ MEDIA_URL }}conure.jpg"
        alt="Picture of a Conure"
        width="300px"
        height="300px" 
      />
    </div>
    {% endblock %}